alias cat="bat"
alias ping="prettyping"

alias zd="cd ~/dev"
alias zw="cd ~/dev/work"
alias zo="cd ~/dev/os"

alias l="exa"
alias ll='exa -alh'
alias ls="exa -a"
alias rm="trash"

alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

alias proxy="export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 all_proxy=socks5://127.0.0.1:7890"
alias top="htop"

alias pc="pre-commit"
alias gl="git log --all --decorate --oneline --graph"

alias ip="curl ip.sb"
alias cpc="pbcopy <"
