alias cat="bat"
alias ping="prettyping"

alias zd="cd ~/dev"
alias zc="cd ~/dev/work"
alias zo="cd ~/dev/os"

alias l="exa"
alias ll='exa -alh'
alias ls="exa -a"
alias rm="rm -iv"

alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

alias proxy="export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 all_proxy=socks5://127.0.0.1:7890"

